<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="./vue.js"></script>
		<title>Document</title>
		<style></style>
	</head>

	<body>
		<div id="app">
			<div>{{title_data}}</div>
			<div>
				<button @click="type_1">加法</button>
				<button @click="type_2">减法</button>
				<button @click="type_3">乘法</button>
				<button @click="type_4">除法</button>
			</div>
			<input type="number" v-model="s_n_1_1" placeholder="请输入数字" />
			<span>{{symbol}}</span>
			<input type="number" v-model="s_n_1_2" placeholder="请输入数字" />
			<span>={{r_1}}</span>
		</div>
		<div>
			先点击上方选择运算类型的按钮<br />
			然后在输入框中输入数字即可<br />
		</div>

		<script>
			new Vue({
				el: "#app",
				data: {
					title_data: "简单的网页计算器",
					s_n_1_1: "",
					s_n_1_2: "",
					symbol: "+",
				},
				methods: {
					type_1() {
						this.symbol = "+";
					},
					type_2() {
						this.symbol = "-";
					},
					type_3() {
						this.symbol = "*";
					},
					type_4() {
						this.symbol = "/";
					},
				},
				computed: {
					n_1_1() {
						return parseFloat(this.s_n_1_1);
					},
					n_1_2() {
						return parseFloat(this.s_n_1_2);
					},
					r_1() {
						if (this.n_1_1 && this.n_1_2) {
							if (this.symbol == "+") {
								return this.n_1_1 + this.n_1_2;
							} else if (this.symbol == "-") {
								return this.n_1_1 - this.n_1_2;
							} else if (this.symbol == "*") {
								return this.n_1_1 * this.n_1_2;
							} else if (this.symbol == "/") {
								return this.n_1_1 / this.n_1_2;
							} else {
								return "";
							}
						} else {
							return "";
						}
					},
				},
			});
		</script>
	</body>
</html>
